:root {
  /* colors variables */
  --main-bg-color: brown;

  /* fonts variables */
}

/* Base values for pages and components */
* {
  box-sizing: border-box;
  margin: 0;
}

/* body {
    TODO : find add basic values for body (font, bg,...) 
} */

#root {
  padding: 5px 10px;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  color: initial;
  transition: 0.3s;
}

a:hover {
  /* TODO : find a color on hover */

  transition: 0.3s;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: inherit;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

fieldset {
  padding: 0;
  border: none;
}

input {
  border: 1px solid;
  border-radius: 4px;
}

input:focus {
  /* TODO : find an another color */

  outline-color: black;
}
