@import url('variables.css');
@import url('base.css');

/* fonts classes */
.display-1 {
  font-size: var(--size-80);
  font-weight: 700;
  line-height: var(--line-height-88);
  letter-spacing: var(--negative-letter-spacing-2);
}

.display-2 {
  font-size: var(--size-48);
  font-weight: 700;
  line-height: var(--line-height-56);
  letter-spacing: var(--negative-letter-spacing-1);
}

.heading-1 {
  font-size: var(--size-32);
  font-weight: 700;
  line-height: var(--line-height-40);
  letter-spacing: var(--negative-letter-spacing-05);
}

.heading-2-bold {
  font-size: var(--size-24);
  font-weight: 700;
  line-height: var(--line-height-32);
  letter-spacing: var(--negative-letter-spacing-025);
}

.heading-2-regular {
  font-size: var(--size-24);
  line-height: var(--line-height-32);
  letter-spacing: var(--negative-letter-spacing-025);
}

.heading-3-bold {
  font-size: var(--size-18);
  font-weight: 700;
  line-height: var(--line-height-26);
  letter-spacing: var(--negative-letter-spacing-025);
}

.heading-3-regular {
  font-size: var(--size-18);
  line-height: var(--line-height-26);
  letter-spacing: var(--negative-letter-spacing-025);
}

.body-1-bold {
  font-size: var(--size-16);
  font-weight: 700;
  line-height: var(--line-height-24);
  letter-spacing: var(--letter-spacing-0);
}

.body-1-regular {
  font-size: var(--size-16);
  line-height: var(--line-height-24);
  letter-spacing: var(--letter-spacing-0);
}

.body-2-bold {
  font-size: var(--size-14);
  font-weight: 700;
  line-height: var(--line-height-20);
  letter-spacing: var(--letter-spacing-0);
}

.body-2-regular {
  font-size: var(--size-14);
  line-height: var(--line-height-20);
  letter-spacing: var(--letter-spacing-0);
}

.cta-medium {
  font-size: var(--size-14);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-15);
}

.cta-small {
  font-size: var(--size-12);
  font-weight: 700;
  letter-spacing: var(--letter-spacing-1);
}

.label-1 {
  font-size: var(--size-14);
  font-weight: 700;
  letter-spacing: var(--letter-spacing-1);
}

.label-2 {
  font-size: var(--size-12);
  font-weight: 700;
  letter-spacing: var(--letter-spacing-1);
}

.label-3 {
  font-size: var(--size-10);
  font-weight: 700;
  line-height: var(--line-height-14);
  letter-spacing: var(--letter-spacing-025);
}

.caption-bold {
  font-size: var(--size-12);
  font-weight: 700;
  line-height: var(--line-height-16);
  letter-spacing: var(--letter-spacing-025);
}

.caption-regular {
  font-size: var(--size-12);
  line-height: var(--line-height-16);
  letter-spacing: var(--letter-spacing-025);
}
